root { 
    display: block;
}
body{
    font-size: 1.2em;
}

/* LISTページ */
#list{
    border: 1px solid #666;
    font-size: 100%;
}
#list td {
    border-top: 1px solid #666;
}

/* MENU */
#menu td{
    text-align: center;
    margin-bottom: 20px;
    width: 170px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    font-size: 20px;
}
#menu a{
    color: #FFF;
}
#menu a:hover{
    color: #f60;
}
#menu a:active{
    color: #fff;
}

/* 詳細ページ */
#select_one{
    width:900px;
}
#select_one td{
    border: 1px solid #555;
}
.ltitle{
    width:200px;
    text-align: left;
    background-color: #ccc;
    font-weight: bold;
}
.rtitle{
    width:700px;
    text-align: left;
    background-color: #fff;
}

.c_btn{
    text-align: center;
}

.imgView{
    width:200px;
}

/*ログイン画面*/
.form-container{
    width:500px;
    height:400px;
    margin:50px auto;
    border-radius: 5px;
    border: 5px solid #00B2B1;
    background-color: white;
    padding: 50px;
}



.form-contain{
    width:400px;
    height:100px;
}

#login{
    width:100%;
    height: 50px;
}
.login-text{
    font-size: 20px;
    width: 100%;
}

body{
    background-color: #f5f6fa !important;
}

#login-message{
    text-align: center;
    font-size:80px;
    margin:50px 0;
}
#entry_btn{
    width: 80% !important;
    margin: 30px auto;
    background-color: #00B2B1 !important;
    border-color: #00B2B1 !important;
}

#entry_btn:hover{
    opacity: 0.7
}

#center{
    text-align: center;
}




